In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_orders=pd.read_csv("order_data_cleaned_and_encoded.csv")

In [3]:
df_customers = pd.read_csv("customer_data.csv")

In [ ]:
df_customers.head()

   CUSTOMER_ID CUSTOMER_TYPE
0    362204699    Registered
1    269612955    Registered
2    585330633         Guest
3    950661333    Registered
4    434985772         Guest

In [5]:
df_customers.columns

Index(['CUSTOMER_ID', 'CUSTOMER_TYPE'], dtype='object')

In [7]:
df_customers.describe()

        CUSTOMER_ID
count  5.633460e+05
mean   5.002123e+08
std    2.886872e+08
min    1.588000e+03
25%    2.502722e+08
50%    5.002907e+08
75%    7.502296e+08
max    9.999993e+08

In [8]:
df_customers.describe(include='object')

       CUSTOMER_TYPE
count         563319
unique             5
top       Registered
freq          406653

In [9]:
df_customers["CUSTOMER_TYPE"].unique()

array(['Registered', 'Guest', 'Deleted Account', 'eClub', nan, 'Online'],
      dtype=object)

In [13]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563346 entries, 0 to 563345
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   CUSTOMER_ID    563346 non-null  int64
 1   CUSTOMER_TYPE  563319 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.6+ MB

In [16]:
len(df_customers["CUSTOMER_ID"].unique())

563346

In [32]:
df_customers[df_customers["CUSTOMER_TYPE"].isna()]

        CUSTOMER_ID CUSTOMER_TYPE
4435      495942367           NaN
49899     486166137           NaN
70611      42901498           NaN
75051     953490107           NaN
78020      55242064           NaN
85913     143933193           NaN
99768     411458861           NaN
100265     27866166           NaN
124326    339524761           NaN
135377    236397925           NaN
135782    450816833           NaN
168308    963357151           NaN
174985    720135888           NaN
180962    180748854           NaN
182136    275993975           NaN
289783    495194532           NaN
303939    669067860           NaN
318274    957021559           NaN
323320    685412334           NaN
332242    884100080           NaN
386501    933254338           NaN
400635    975581141           NaN
422199    514171591           NaN
445754    506584384           NaN
466302    249644033           NaN
529589     64361783           NaN
546370    878235285           NaN

In [33]:
df_customers["CUSTOMER_TYPE"].unique()

array(['Registered', 'Guest', 'Deleted Account', 'eClub', nan, 'Online'],
      dtype=object)

In [41]:
import pandas as pd

# Step 1: Load data
cust_df = pd.read_csv("customer_data.csv")

# Step 2: Normalize CUSTOMER_TYPE to lowercase for consistent matching
cust_df['CUSTOMER_TYPE'] = cust_df['CUSTOMER_TYPE'].str.lower()

# Step 3: Create one-hot columns
cust_df['registered'] = (cust_df['CUSTOMER_TYPE'] == 'registered').astype(int)
cust_df['guest'] = (cust_df['CUSTOMER_TYPE'] == 'guest').astype(int)
cust_df['special_membership'] = (~cust_df['CUSTOMER_TYPE'].isin(['registered', 'guest'])).astype(int)

# Step 4: Fill NaNs (already handled by boolean logic, but to be safe)
cust_df[['registered', 'guest', 'special_membership']] = cust_df[['registered', 'guest', 'special_membership']].fillna(0)

cust_df = cust_df.drop(columns=['CUSTOMER_TYPE'])

# Step 5: (Optional) Save to a new CSV
cust_df.to_csv("customer_data_encoded.csv", index=False)

print(cust_df.head())

   CUSTOMER_ID  registered  guest  special_membership
0    362204699           1      0                   0
1    269612955           1      0                   0
2    585330633           0      1                   0
3    950661333           1      0                   0
4    434985772           0      1                   0

In [4]:
cust_df = pd.read_csv("customer_data_encoded.csv")

In [5]:
cust_df.describe()

        CUSTOMER_ID     registered          guest  special_membership
count  5.633460e+05  563346.000000  563346.000000       563346.000000
mean   5.002123e+08       0.721853       0.275376            0.002771
std    2.886872e+08       0.448087       0.446704            0.052567
min    1.588000e+03       0.000000       0.000000            0.000000
25%    2.502722e+08       0.000000       0.000000            0.000000
50%    5.002907e+08       1.000000       0.000000            0.000000
75%    7.502296e+08       1.000000       1.000000            0.000000
max    9.999993e+08       1.000000       1.000000            1.000000